@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.avatar-wrapper {
    width: 70%;
    margin: 0 auto;
}

.photo-section-of-profile-cover {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Makes the image cover the whole area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
}

.avatar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-wrapper img {
    width: 250px;
    margin-top: 250px;
    height: 250px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile-details {
    text-align: center;
    width: 85%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.space-for-profile-details {
    width: 100%;
    height: 140px;
}

.profile-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.profile-intro {
    font-size: 1.0rem;
    width: 90%;
    padding-bottom: 10px;
    margin: 0 auto;
}

.profile-details-buttons-for-contact-bt-db {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}

.profile-details-buttons-for-contact-bt-db a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    background-color: #12286b;
    color: white;
    text-decoration: none;
}

.profile-details-buttons-for-contact-bt-dbfb a {
    background-color: #1e53e4;
}

.profile-details-buttons-for-contact-bt-db-link-icon {
    color: white;
    font-size: 25px;
    padding-top: 5px;
}

.profile-details-buttons-for-contact-bt-db-link-icon img {
    width: 30px;
}

.footer-space {
    width: 100%;
    height: 95px;
}

#footer-section-on-account {
    position: fixed;
    width: 100%;
    height: 85px;
    dispay: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 99;
    bottom: 0;
}

.footer-section-on-account-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-section-on-account-content a {
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 12px;
}

.profile-details-buttons-for-contact-bt-db-txt {
    font-size: 13px;
    padding-top: 4px;
}